{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/farmer.css" />
{% endblock head %}
{% block main %}
<div id="farmer" class="container">
        <section>
            <div id="top">
                <h1>
                    {% if farmer.first_name %}
                        Welcome {{ farmer.first_name }}!
                    {% else %}
                        Welcome {{farmer.username}}!
                    {% endif %}
                </h1>
            </div>
            <div class="sub">
                <p>Farmer Information:</p>
                <div class="sub">
                    <p>{% if farmer.first_name %}
                        First name: {{ farmer.first_name }}
                    {% else %}
                        First name: not registered
                    {% endif %}</p>
                    <p>{% if farmer.last_name %}
                        Last name: {{ farmer.last_name }}
                    {% else %}
                        Last name: not registered
                    {% endif %}</p>
                    <p>Username: {{farmer.username}}</p>
                    <p>
                    {% if farmer.tlf %}
                        Telephone: {{ farmer.tlf }}
                    {% else %}
                        Telephone: not registered
                    {% endif %}
                    </p>
                    <p>
                    {% if farmer.reserve %}
                        Reserve: {{ farmer.reserve }}
                    {% else %}
                        Reserve: not registered
                    {% endif %}
                </div>
                <p><a href="/admin/farmer/farmer">edit</a></p>
            </div>
            {% block result %}
            {% endblock result %}
        </section>
    </form>
    <form action="/sheep/sheepGenerate" method="post">{% csrf_token %}
        <section>
            <div id="top">
                <h2>Create dummysheep</h2>
            </div>
            <div class="sub">
                <p>Quantity:</p>
                <p><input name="quantity" type="text" value="1"></p>
                <p><input id ="generate" type="submit" value="Generate"></p>
            </div>
        </section>
    </form>
</div>

{% endblock main %}
