<form action="/farmer/farmerRegisterSubmit" method="post">{% csrf_token %}
    <lable for="username">Username</lable>
    <input name="username" type="text"></br>
    <lable for="password">Password</lable>
    <input name ="password" type="password"></br>
    <lable for="firstname">First Name</lable>
    <input name ="firstname" type="text"></br>
    <lable for="lastname">Last Name</lable>
    <input name ="lastname" type="text"></br>
    <lable for="email">E-mail</lable>
    <input name ="email" type="text"></br>
    <lable for="tlf">Telephone</lable>
    <input name ="tlf" type="text"></br>
    <lable for="reserve">Reserve</lable>
    <input name ="reserve" type="text"></br>
    <input id ="submit" type="submit" value="Submit">
</form>
