{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/farmer.css" />
    {% block title %}
        Home
    {% endblock title %}
{% endblock head %}
{% block main %}
<div id="farmer" class="container">
        <section>
            <div id="top">
                <h1>
                    {% if farmer.first_name %}
                        Welcome {{ farmer.first_name }}!
                    {% else %}
                        Welcome {{farmer.username}}!
                    {% endif %}
                </h1>
            </div>
            <div class="sub">
                <p>Farmer Information:</p>
                <div class="sub">
                    <p>{% if farmer.first_name %}
                        First name: <span>{{ farmer.first_name }}</span>
                    {% else %}
                        First name: <span>not registered</span>
                    {% endif %}</p>
                    <p>{% if farmer.last_name %}
                        Last name: <span>{{ farmer.last_name }}</span>
                    {% else %}
                        Last name: <span>not registered</span>
                    {% endif %}</p>
                    <p>Username: <span>{{farmer.username}}</span></p>
                    <p>
                    {% if farmer.tlf %}
                        Telephone: <span>{{ farmer.tlf }}</span>
                    {% else %}
                        Telephone: <span>not registered</span>
                    {% endif %}
                    </p>
                    <p>
                    {% if farmer.reserve %}
                        {% if farmer.reserve.username == "admin" %}
                            Reserve: <span>not registered</span>
                        {% else %}
                        Reserve: <span>{{ farmer.reserve }}</span>
                        {% endif %}
                    {% else %}
                        Reserve: <span>not registered</span>
                    {% endif %}
                </div>
                <p><a href="/admin/farmer/farmer">edit</a></p>
            </div>
            {% block result %}
            {% endblock result %}
        </section>
    <form action="/sheep/sheepGenerate" method="post">{% csrf_token %}
        <section>
            <div id="top">
                <h2>Create multiple new sheep</h2>
            </div>
            <div class="sub">
                <p>Quantity:</p>
                <p><input name="quantity" type="text" value="1"></p>
                <p><input id ="generate" type="submit" value="Generate"></p>
            </div>
        </section>
    </form>
    {% if farmer.username == "admin" %}
    <a href="/initiate">Initialise database (Only use once!)</a>
    {% endif %}
</div>
{% endblock main %}
