<!DOCTYPE html>
<head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<meta charset="utf-8">
	<title>[Farmville] {% block title %}{% endblock title %}</title>
	<meta name="description" content="login">
	<meta name="author" content="gruppe5">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <link rel='shortcut icon' type='image/x-icon' href='/static/imgs/favicon.ico' />

	{% block head %}
	{% endblock head %}
</head>
<body>
	<div id="header">
        <div id="headerInner">
            <h1 id="title">
                <a href="/farmer/farmer">FARMVILLE</a>
                {% block header %}{% endblock header %}
                </h1>
            <h4>
                {% if user.is_authenticated %}
                    <a href="/farmer/farmer">{{user}}</a>&nbsp;
                   <!--<a href="/farmer/farmer">Messages{% if user.getWarnings %} ({{ user.getWarnings }}){% endif %}</a>&nbsp;-->
                    <a href="/sheep/sheepGenerate">My Sheep</a>&nbsp;
                    <a href="/admin">Settings</a>&nbsp;
                    <a href="/farmer/farmerLogout">Logout</a>
                {% else %}
                    <a href="/">Login</a>
                {% endif %}
            </h4>
        </div>
	</div>
    <div id="baseInner">
        {% block main %}
        {% endblock main %}
    </div>
</body>
</html>
