{% extends "sheep/sheep.html" %}
{% block sub %}

<div id="mainTable">
<table>
    <thead>
       <tc>
           <th>
               <p>Du er logget inn som:</p>
               <p><h1>{{ user.username }}</h1></p>
           </th>
       </tc>
       <tr>
            <th>Identification</th>
            <th>Name</th>
            <th>Status</th>
            <th><input id="lnkfarm1" type="button" value="[+] Expand" onclick="toggle_visibility('farm1','lnkfarm1');"></th>
       </tr>
    </thead>
    <tbody id="subTable">
        <table id="farm1" >
            {% for s in sheepList %}
                <tr class ="{%  cycle 'odd' 'even' %}">
                    <td>{{s.sheepId}}</td>
                    <td>{{s.name}}</td>
                    <td><input id="ink{{s.sheepId}}" type="button" value="[+] Expand" onclick="toggle_visibility('sheep{{s.sheepId}}','ink{{s.sheepId}}');"></td>
                </tr>
                <tr>
                    <td colspan="3">
                    <table class="inner" id="sheep{{s.sheepId}}">
                        <tc>
                            <tr>
                                <td>Birthday: {{s.birthday}}</td>
                                <td>Birthplace: {{s.birthplace}}</td>
                                <td>Status: {{s.status}}</td>
                            </tr>
                              {% for l in s.location_history.all %}
                            <tr>
                                <td>Date: {{l.tidspunkt}}</td>
                                <td>Latitude: {{l.latitude}}</td>
                                <td>Longitude: {{l.longitude}}</td>
                                <td><input type="button" value="Show in map" onclick="bounce({{s.sheepId}});"></td
                            </tr>

                            {% endfor %}
                        </tc>


                    </table>
                    </td>

                </tr>
            {% endfor %}
        </table>
    </tbody>
</table>
</div>
</div>
{% endblock sub %}