{% extends "sheep/sheep.html" %}

{% block sub %}
{% load humanize %}
<div id="mainTable">
{% for s in sheepList %}
<table>
    <thead>
    <th>{{s.sheepId}}</th>
    <th>{{ s.name }}</th>
    </thead>
        <tbody class="inner" colspan="3">
            <tr>
                <td>Status: {{s.getStatus}}</td>
                <td><input type="button" value="View in map" onclick="bounce({{ s.sheepId }});"></td>
            </tr>
            <tr>
                <td>Age: {{s.birthday|timesince:dagensdato}}</td>
                <td>Birthplace: {{s.birthplace}}</td>
            </tr>
            <tr>
                 <td>Latitude: {{s.latitude}}</td>
                 <td>Longitude: {{s.longitude}}</td>
            </tr>
        </tbody>
</table>
{% endfor %}
</div>
</div>

{% endblock sub %}
