{% extends "sheep/sheep.html" %}

{% block sub %}
<div id="mainTable">
{% for s in sheepList %}
<table>
    <tbody>
    <tr>
        <td>{{ s.name }}</td>
        <!--<td class ="{%  cycle 'odd' 'even' %}">{{ attr }}</td>-->
        <td>{{s.sheepId}}</td>
    </tr>
    <tr>
        <td colspan="3">
        <table class="inner">
                    <td>Birthday: {{s.birthday}}</td>
                    <td>Birthplace: {{s.birthplace}}</td>
                    <td>Status: {{s.status}}</td>
                    <td>Latitude: {{s.latitude}}</td>
                    <td>Longitude: {{s.longitude}}</td>
                    <td><input type="button" value="Show in map" onclick="bounce({{ s.sheepId }});"></td>
        </table>
    </tr>
</tbody>
</table>
{% endfor %}
</div>
</div>

{% endblock sub %}