{% extends "base.html" %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="/static/css/sheepGenerator.css" />
    <script type="text/javascript">
        function toggle_visibility(tbid,lnkid)
        {
            if(document.all){document.getElementById(tbid).style.display = document.getElementById(tbid).style.display == "block" ? "none" : "block";}
            else{document.getElementById(tbid).style.display = document.getElementById(tbid).style.display == "table" ? "none" : "table";}
            document.getElementById(lnkid).value = document.getElementById(lnkid).value == "[-] Collapse" ? "[+] Expand" : "[-] Collapse";
        }
    </script>
<style type="text/css">
    #farm1 {% for s in sheepList %}
        , #sheep{{s.sheepId}}
    {% endfor %}
    {display:none;}
</style>
{% endblock head %}
{% block main %}
<div id="loginDiv", class="container">
<table>
    <tr>
       <td bgcolor="#EEEEEE" align="right"><input id="lnkfarm1" type="button" value="[+] Expand" onclick="toggle_visibility('farm1','lnkfarm1');"></td>
    </tr>
    <tr>
        <table id="farm1" >
            {% for s in sheepList %}
                <tr class ="{%  cycle 'odd' 'even' %}">
                    <td>Sheepname: {{s.name}}</td>
                    <td>SheepID: {{ s.sheepId }}</td>
                    <td bgcolor="#EEEEEE" align="right"><input id="ink{{s.sheepId}}" type="button" value="[+] Expand" onclick="toggle_visibility('sheep{{s.sheepId}}','ink{{s.sheepId}}');"></td>
                </tr>
                <tr><td>
                    <table class="inner" id="sheep{{s.sheepId}}">
                        <tr >
                            <td>Birthday: {{s.birthday}}</td>
                        </tr>
                        <tc>
                            <td>Birthday: {{s.name}}</td>
                        </tc>

                        <tr >
                            <td>Birthday: {{s.birthday}}</td>
                        </tr>
                        <tc>
                            <td>Birthday: {{s.name}}</td>
                        </tc>
                    </table></td>
                </tr>
            {% endfor %}
        </table>
    </tr>
</table>
</div>
{% endblock main %}
