{% extends "sheep/sheep.html" %}
{% block sub %}


<div id="mainTable">
<table>
    <thead>
       <tc>
           <th colspan="4">
               <p><h1>{{ user.username }}</h1></p>
           </th>
       </tc>
       <tr>
            <th>Identification</th>
            <th>Name</th>
            <th colspan="2"><input type="text" id="search" placeholder="Type to search"></th>
       </tr>
    </thead>
    <tbody id="subTable">
            {% for s in sheepList %}
            <form id="myForm" action="/sheep/getSheepDetail" method="post">{% csrf_token %}
                <tr colspan="4" class ="{%  cycle 'odd' 'even' %}">
                    <td>{{s.sheepId}}</td>
                    <td>{{s.name}}</td>
                    <td><input id="submitDetails" type="submit" value="Details"><input name="id" type="hidden" value="{{s.sheepId}}"></td>
                    <td><input type="button" id="viewInMap" value="View in map" onclick="bounce({{ s.sheepId }});"></td>
                </tr>
            </form>
            {% endfor %}
    </tbody>
</table>
</div>
{% endblock sub %}
