* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}

/*			HTML5 display-role reset for older browsers			*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}


ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 2;
}

/* Main CSS */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/********************* Colour reference chart****************
*************************** comment ******** colour ********* 

box background colour       bbg             #C7EEA3
box border colour           bb              #abcdef

text gradient1				tgrad1			#323B55
text gradient2				tgrad2			#424F71

button background  			butbg			#5466da
button gradient 1			bgrad1			#5466da
button gradient 2			bgrad2			#768ee4

hyperlink unpressed			hlunp			#3697B3

*/

html, body { height: 100%; }
body {
	/* BACKGROUND */
	background-image: radial-gradient(center , ellipse cover, #09AB82, #05630D);
	background-image: -o-radial-gradient(center , ellipse cover, #09AB82, #05630D);
	background-image: -ms-radial-gradient(center , ellipse cover, #09AB82, #05630D);
	background-image: -moz-radial-gradient(center , ellipse cover, #09AB82, #05630D);
	background-image: -webkit-radial-gradient(center , ellipse cover, #09AB82, #05630D);
	/* FONTS */
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;

}

/* HEADER */
#header {
	position:fixed;
	left:0px;
	top:0px;
	height:40px;
	width:100%;
    margin:0px auto;
    background-color: white;
    /* DROP SHADOW */
	-webkit-box-shadow: 0px 2px 1px 0px #05630D;
	box-shadow: 0px 2px 1px 0px #05630D;

	
}
/* IE 6 */
* html #header {
   position:absolute;
   bottom:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

#title {
	margin-top: 2px;
	text-align: center;
}

h1,h2,h3 {
	position: relative;
	margin-left: 30px;
	text-align: left;
}
h1{
	font-size: 25px;
}
h2{
	margin-top: 20px;
	font-size: 18px;
	/*font-style: bold;*/
	color: black;
}
h3{
	margin-top: 12px;
	font-size: 15px;
	color: grey;
}

