tbody tr.even td {background-color: #bbeebb;}
tbody tr.odd td {background-color: #e5f9e5;}
tbody tr.table_top td {align:"right";}
table .inner td {}

table {
    position: relative;
    top:43px;
}

.table_top {
    height: 100%;
    width: 100%;
    background-color: red;
}

.even, .odd {

    height: 40px;
}

.inner {
    top:0px;
    width:100%;
    height: 100%;
}