body{
    font:12px/1.231 arial,helvetica,clean,sans-serif;
}

#map_holder {
    position: fixed;
    right: 2%;
    top: 15%;
    margin-top: -2.5em;
}
#map_canvas {
    border: 1px solid black;
    width:500px;
    height:400px
}

#mainTable {
    left:10px;
    position: absolute;
    margin-right: 50px;
    width:500px;
    height:400px;
    margin-top: 50px;
}

table {
    width:400px;
    position: relative;
    border-collapse:collapse;
}

table, th, td {
    border: 1px solid black;
    text-overflow:ellipsis;
    text-align: center;
}

td,th {
    width:100px;
    vertical-align:middle;
}

th {
    vertical-align: middle;
    height: 50px;
}

thead tr th {background-color: #bbeebb;}
thead tr th input {background-color: #bbeebb;}

tbody tr.even td {background-color: #bbeebb;}
tbody tr.even input {background-color: #bbeebb;}
tbody tr.odd td {background-color: #e5f9e5;}
tbody tr.odd input {background-color: #e5f9e5;}

table .inner {
    height: 100px;
}
table .inner td {
    background-color:inherit;
}

table .inner td input {
    background-color: inherit;
}


input {
    height: 100%;
    width: 100%;
}

.even, .odd {
    height: 30px;
}

.inner {
    background-color: #e5f9e5;
    top:0px;
    width:100%;
}