body{
    font:12px/1.231 arial,helvetica,clean,sans-serif;
}

#map_holder {
    position: fixed;
    right: 2%;
    top: 15%;
    margin-top: -2.5em;
}
#map_canvas {
    border: 1px solid black;
    width:500px;
    height:400px
}

#mainTable {
    left:10px;
    position: absolute;
    margin-top: 40px;
    margin-right: 50px;
    width:500px;
    height:400px;
}
#Registrer_new_sheep{
    width:400px;
}


table {
    width:400px;
    border-collapse:collapse;
}

table, th {
    border: 1px solid black;
    text-overflow:ellipsis;
    text-align: center;
}

thead {
    background-color: #bbeebb;
    position: fixed;
    z-index: 1;
    width: 400px;
}
td,th {
    vertical-align:middle;
}

th {
    width:135px;
    height: 50px;
}

thead tr th {background-color: #bbeebb;}
thead tr th input {background-color: #bbeebb;}

tbody tr.even td {background-color: #bbeebb;}
tbody tr.even input {background-color: #bbeebb;}
tbody tr.odd td {background-color: #e5f9e5;}
tbody tr.odd input {background-color: #e5f9e5;}

tbody {
}


table .inner {
    height: 100px;
    background-color: #e5f9e5;
    width:100%;
}
table .inner td {
    background-color:inherit;
}

table .inner td input {
    background-color: inherit;
}


input {
    height: 100%;
    width: 100%;
}

table .even,table .odd {
    height: 30px;
}

.inner {
}
