#map_holder {
    position: fixed;
    right: 10%;
    margin-top: 65px;
}
#map_canvas {
    border: 1px solid black;
    width:600px;
    height:500px;
}

#mainTable {
    left:10%;
    position: absolute;
    margin-top: 65px;
    margin-right: 50px;
    width:400px;
    height:400px;
}

/*#Registrer_new_sheep{
    width:400px;
}
*/
#mainTable td {
    width: 100px;
}

table {
    width:400px;
    border-collapse:collapse;
}

table, th {
    border: 1px solid black;
    text-overflow:ellipsis;
    text-align: center;
}

thead {
    position:relative;
    background-color: #bbeebb;
    z-index: 1;
    width: 400px;
}


td,th {
    vertical-align:middle;
}

th {
    width:100px;
    height: 50px;
}
#search {
    width: 200px;
    text-align: center;
}

#search:focus {
    background-color:#F7FDFF;
    outline: #E1F9FF;
}

thead tr th {background-color: #E1F9FF;}
thead tr th input {background-color: #F7FDFF;}
/*
tbody tr.even td {background-color: #bbeebb;}
tbody tr.even input {background-color: #bbeebb;}
tbody tr.odd td {background-color: #e5f9e5;}
tbody tr.odd input {background-color: #e5f9e5;}

tbody {
}
*/

tbody tr td input{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
	border:1px solid gray;
	display:inline-block;
	color:black;
	font-style:normal;
	line-height:30px;
	width:100px;
}

tbody tr td input:active {
	position:relative;
	top:1px;
}


table .inner {
    height: 100px;
    background-color: #e5f9e5;
    width:100%;
}
table input {
    height: 100%;
    width: 100%;
}